@import "tailwindcss";

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 10s linear infinite;
}